.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: var(--link-transition);
}

.footer__column-link:hover {
  opacity: var(--hovered-link-opacity);
}
